{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 2,
                "targets": {
                    "firefox": "64"
                }
            }
        ],
        [
            "@babel/preset-react",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ]
}